.container{
    margin: auto;
    width: 50%;
    border: solid 1px;
    padding: 10px;
}

.tb{
    border-collapse: collapse;
    width: 100%;
}

.tb tr td, th{
    border:solid 1px;
    padding: 5px;
}