.container{
    border: solid 2px;
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    gap: 20px;
}

.form{
    width: 50%;
    background-color: beige;
    padding: 10px;
}

.list{
    width: 50%;
    background-color: cadetblue;
    padding: 10px;
}

.tb{
    border-collapse: collapse;
    width: 100%;
}

.tb td{
    border: solid 1px black;
    padding: 5px;
}
