*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

header{
    height: 70px;
    width: 70%;
    border: solid 1px black;
    background-color: lightgray;
    margin: auto;
}

main{
    min-height: 500px;
    width: 70%;
    border: solid 1px black;
    background-color: white;
    display: flex;
    margin: auto;
    margin-top:10px;
    margin-bottom: 10px;
}

nav{
    width: 20%;
    border-right: 1px solid black;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li{
    border-bottom: 1px black solid;
}

nav ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
}

aside{
    width: 80%;
    background-color:blanchedalmond;
    padding: 20px;
}

footer{
    height: 30px;
    width: 70%;
    border: solid 1px black;
    background-color: lightgray;
    margin: auto;
}

.login{
    width: 20%;
    margin: auto;
}

.user-info{
    float: right;
    padding: 10px;
}